html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.head{
    background-color: #c3d8f6;
}
.right_margin{
    margin-right:12px;
}
.submit_text{
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: 0;
    user-select: text;
}
.submit_text:hover{
    color: red;
}
.input_edit{
    width:350px;
}
.laboratornye{
    padding:15px;
    border: solid 1px black;
}
.navbar{
    background-color: #c3d8f6;
}
.auth{
    text-align: center;
}
.courses-scroll{
    margin-left: 50px;
    overflow: auto;
    height: 400px;
}
.one-course{
    height:auto;
    background-color: #e9ebec;
    padding: 10px;
}
.element-right{
    float: right;
}
.info_textarea{
    width:100%;
    height:189px;
    resize:none;
}
.element-inline{
    display: inline;
}

.info-style{
    border: 1px solid black;
    min-height: 100px;
    width:100%;
    padding:10px;
}

hr{
    color:black;
    background-color: black;
    border: none;
    height:1px;
}




.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #c7ccd4;
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
